# Archivos y carpetas del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de entorno
.env

# Directorios de dependencias
node_modules/
vendor/

# Archivos temporales
*.tmp
*.temp

# Archivos de XAMPP
xamppfiles/

# Otros
.idea/
.vscode/ 